#header{
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #4f4f4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#4f4f4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#4f4f4f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#4f4f4f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
	height: 100px;
	padding-top: 30px;
}
#header img{
	width: 100px;
	position: absolute;
	margin-top: -20px;
}

.headtitle{
	background: #ffeb3a; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffeb3a 0%, #ffb600 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffeb3a), color-stop(91%,#ffb600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffeb3a 0%,#ffb600 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffeb3a 0%,#ffb600 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffeb3a 0%,#ffb600 91%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffeb3a 0%,#ffb600 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb3a', endColorstr='#ffb600',GradientType=0 ); /* IE6-9 */
 	padding: 10px 10px 10px 120px;
 	/*margin-top: 20px;*/
}
body{
	background: #F0F0F0;
}
#content{
	min-height: 480px;
}
.footer{
	padding: 15px;
	text-align: center;
	background: gray;
	margin-top: 20px;
}

a{
	color: #FF9100;
}
a:hover{
	color: #D96500;
}
a:visited{
	color: #FF9100;
}
h3{
	margin-bottom: 0px;
}
h5{
	margin-bottom: 0px;
}
hr{
	margin-top: 0px;
}
.loginbox{
	/*background: gray;*/
}
.konten_kanan{
	background: white;
	padding: 15px;
	min-height: 500px;
}
.headrole{
	background: red;
	padding: 10px;
	color: white;
}
h4.step{
	margin-top: 10px;
	margin-left: 10px;
	margin-right:10px;
}
.left10{
	margin-left: 10px;
}
.left20{
	margin-left: 20px;
}
.left30{
	margin-left: 30px;
}
.left40{
	margin-left: 40px;
}
a.btn-success,
a.btn-primary,
a.btn-danger,
a.btn-warning,
a.btn-info{
	color: white;
}
a.btn-default{
	color: #777777;
}
div#loadingdiv{
	top:0;
	right: 0;
	z-index: 99999;
	text-align: center;
	width: 200px;
	font-size: 15pt;
	height: 30px;
	color: white;
	min-height: 40px;
	/*text-shadow: -1px 0 #7A3100, 0 3px #7A3100, 3px 0 #7A3100, 0 -1px #7A3100;*/
	/*background: yellow;*/
	/*margin-left: 500px;*/
	margin: 0px auto;
	/*position: relative;*/
	position: fixed;
	/*margin-bottosm: -55px;*/

	background: black;
	border-color: #fff1a8;
	color: white;
	padding: 10px 10px 5px 10px;

	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;*/
}
.loginfront{
	margin-top: 130px;
	background-color: white;
	padding: 20px;
	padding-top: 10px;
}
.loginfront .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}
tr.selected{
}
.grid-view table.items tr.selected td {
	background-color: #FAEE93;
/*background: #eeeeee;*/
}





















/* ============================= Sidebar Navigation ==================================== */
#sidebar {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    z-index: 16;
}

#sidebar > ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	position: absolute;
	width: 100%;
}
#sidebar > ul > li {
	display: block;	
	position: relative;
}

#sidebar > ul > li.active {
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}

#sidebar > ul > li > a {
	padding: 10px 0 10px 15px;
	display: block;
	/*color: #AAAAAA;*/
	color: #383838;
	/*background-color: #444444;*/
	background: #c7c7c7;	
}

#sidebar > ul > li > a > i {
	margin-right: 10px;
}

#sidebar > ul > li.active > a {
	background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
}

#sidebar > ul > li > a > .label {
	margin: 0 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}

#sidebar > ul ul {
	display: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
}
#sidebar > ul li.open ul {
	display: block;
}
#sidebar > ul ul li{
	list-style: none;
}
#sidebar > ul ul li a{
	padding: 10px 0 10px 25px;
	display: block;
	/*color: #777777;*/
	color: #383838;
}
#sidebar > ul ul li a:hover{
	background-color: #d9d9d9;
}
#sidebar > ul ul li.active{
	background-color: #828282;
}

#sidebar > ul ul li:first-child a {
	border-top: 0;
}
#sidebar > ul ul li:last-child a {
	border-bottom: 0;
}

#sidebar > ul {
	/*border-top: 1px solid #393939;*/
	/*border-bottom: 1px solid #4E4E4E;*/
}
#sidebar > ul > li {
	/*border-top: 1px solid #4E4E4E;*/
	/*border-bottom: 1px solid #393939;*/
}
#sidebar > ul > li.active {
    /*background-color: #3a3a3a;*/
    background-color: #a1a1a1;
	/*background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#3F3F3F));
	background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: linear-gradient(top, #333333 0%, #3F3F3F 100%);*/
}

#sidebar > ul > li.open.submenu > a {
	/*border-bottom: 1px solid #393939;*/
}
#sidebar > ul > li.open.active.submenu > a {
	/*border-bottom: 1px solid #2A2A2A;*/
}
#sidebar > ul > li > a > .label {
	background-color: #333333;
	/*background-color: gray;*/
}
#sidebar > ul > li > a:hover {
	/*background-color: #4A4A4A;*/
	background-color: #ababab;
	/*background-color: white;*/
}
#sidebar > ul ul {
	border-top: 1px solid #4E4E4E;
	/*background-color: #2A2A2A;*/
	background-color: #a1a1a1;
}
#sidebar > ul ul li a {
	/*border-top: 1px solid #333333;*/
	/*border-bottom: 1px solid #202020;*/
}
#sidebar > ul ul li a:hover, #sidebar > ul ul li.active a {
	/*color: #CCCCCC;*/
	color: #383838;
	/*background-color: #272727;*/
}

.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    /*color: #eeeeee;*/
	/*background-color: #444444;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, #555555, #222222);
    background-image: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: linear-gradient(top, #555555 0%, #222222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); *//* IE6-9 
*/}

/* ============================= END OF Sidebar Navigation ==================================== */