  .bannercontainer {	
		padding:5px;		
		background-color:#fff;
		width:610px;	
		position:relative;
		position:relative;	
		margin-left:auto;
		margin-right:auto;		
	}
 
  .banner{		
		width:610px;
		height:490px;
		position:relative;
		overflow:hidden;			
   }
   
    .bannercontainer-simple {	
		//padding:5px;		
		background-color:#fff;
		width:610px;	
		position:relative;
		position:relative;	
		margin-left:auto;
		margin-right:auto;		
	}
 
  .banner-simple{		
		width:610px;
		height:490px;
		position:relative;
		overflow:hidden;			
   }

 .fullwidthbanner-container{
	width:100% !important;		
	position:relative;
	padding:0;		
	max-height:450px !important;
	overflow:hidden;
} 

.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	max-height:450px !important;
	position:relative;	
}
   
   @media only screen and (min-width: 768px) and (max-width: 959px) {		
		
 		  .banner, .bannercontainer			{	width:750px; height:412px;}			  
   }
  
   @media only screen and (min-width: 480px) and (max-width: 767px) {
		   .banner, .bannercontainer		{	width:470px; height:258px;	}	
   }
   
   @media only screen and (min-width: 0px) and (max-width: 479px) {
			.banner, .bannercontainer		{	width:310px;height:170px;	}	
   }


   
   
   
   
   