header, a, img, li, form, div.topmargin, header nav, span.contact {
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}


img.logo{
  float: left;
}


section.stretch{
  float: left;
  height: 1500px;
  width: 100%;
}

section.stretch p{
  font-family: 'Amaranth', sans-serif;
  font-size: 30px;
  color: #969696;
  text-align: center;
  position: relative;
  margin-top: 250px;
}

section.stretch p.bottom{
  top: 100%;
}

header{
  float: left;
  width: 100%;
  position: fixed;
  z-index: 10;
}






/* Sizes for the bigger menu */

header.large{
  height: 110px;
}

header.large img{
  margin-top: 33px;
  width: 168px;
  height: 50px;

}

header.large li{
  margin-top: 45px;    
}


/* Sizes for the smaller menu */

header.small{ 
  height: 50px; 
  z-index: 999;
  background-color: #543A30;
  border-bottom: 1px solid #aaaaaa;
}
header.small:hover {
  background-color: black;
}

header.small form{
  margin-top: 6px;
}

header.small img{
  width: 101px; 
  height: 30px; 
  margin-top: 10px; 
}

header.small li{ 
  margin-top: 3px; 
}
