/* http://nicolasgallagher.com/micro-clearfix-hack/   STARTS   */

	.cf:before,.cf:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.cf:after {
	    clear: both;
	}

/* http://nicolasgallagher.com/micro-clearfix-hack/   ENDS   */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


/*   FONT FAMILY start   */
@font-face {
  font-family: Nexa;
  src: url('../fonts/Nexa Light.otf');
}
/*   FONT FAMILY end   */

body {

  background: url('../img/shatteredBrown.jpg') 0 0 repeat;
  font-family: nexa;
  font-size: 14px;
  line-height: 1.4; 
  letter-spacing: -0.01em;
}

.bgcross{
	background: url('../img/softcross.jpg') 0 0 repeat;	
}
nav{
  width: 75%;
  margin: 0 auto;
}
nav select {
  	margin-top: 12px;
  	margin-left: 15px;
  	height: 40px;
  	padding: 10px 6px;
}
nav option {
  	padding: 10px ;
  	border-bottom: 1px solid #DDD;

}

div.topmargin {
	height: 120px;
}

div#mainContainer, div#restoHeader{

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
	width: 75%;
}
div#mainContainer{

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

	width: 75%;
	margin: 0 auto;
	background-color: #EEE;
	box-shadow: 0 15px 15px rgba(0,0,0,0.3);
}

div.mainContainerPadding {
	padding:30px 30px 0;
}


.fl {
	float: left;
}
.fr {
	float: right;
}

.span1{
	width:12.5%;
}
.span2{
	width:25%;
}
.span3{
	width:37.5%;
}
.span4{
	width:50%;
}
.span5{
	width:62.5%;
}
.span6{
	width:75%;
}
.span7{
	width:87.5%;
}
.span8{
	width:100%;
}


.color1{
	background-color: #EEE;
}
.color2{
	background-color: #DDD;
}
.color3{
	background-color: #CCC;
}

.pad10{
	padding-left:1%;
	padding-right:1%;
}
.pad15{
	padding-left:1.5%;
	padding-right:1.5%;
}
.pad20{
	padding-left:2%;
	padding-right:2%;
}
.pad30{
	padding-left:3%;
	padding-right:3%;
}
.pad40{
	padding-left:4%;
	padding-right:4%;
}
.pad50{
	padding-left:5%;
	padding-right:5%;
}
















/* NAVIGATION | START */

.nav {
	font-size: 18px;
	margin-top: 11px;
}
a.nav-item {
	color: blue;
}
ul.nav {
	margin-right: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
ul.nav li {
	float: left;
	list-style: none;
	margin-left: 40px;
}
ul.nav li a {
	float: right;
	text-decoration: none;
  	font-family: nexa;
	color: white;
}
ul.nav li.active a {
	color: yellow;
}
ul.nav li a:hover {
	border-bottom: 1px solid white;
}


/* NAVIGATION | END */

/* TEXT STYLING | START */

/* TEXT STYLING | END */


/* LIST RESULT STYLING | starts */

	div.resultHeaderContainer {
		padding: 7px 30px 5px;
		border-bottom: 1px solid #e3e3e3;
		font-size: 18px;
	}
	div.resultItemContainer {
		padding: 10px 30px 15px;
		border-bottom: 1px solid #e3e3e3;
		overflow: auto;
		font-size: 15px;
	}
	div.resultHeader {
		margin-bottom: 6px;
	}
	img.mark {
		margin-left: 5px;
		height:34px;
	}
	div.resultHeader h2 {
		font-size: 24px;
	}
	div.resultHeader>div.fl {
		max-width: 60%;
	}
	div.resultHeader>div.fr {
		max-width: 40%;
	}
	span.contact {
		display: block;
		padding: 5px;
	    background-color: #454545;
	    background-image: -moz-linear-gradient(center top , #303030, #262626);
		border-bottom: 1px solid yellow;
		border-radius: 2px;
		color: white;
		font-size: 14px;
		margin: 6px 0;
	}
	span.contact a {color: white;}
	span.contact:hover {
		background-color: black;
	}

	.grey {
		background-color: #efefef;
	}


	div.leftContainer {
		background: url('../img/softcross.jpg') 0 0 repeat;	
		height: 100%;
	}

	div.rightContainer {
		background: white;	
		border-left: 1px solid #ccc;
	}

	div.sectionHeader {
		background-color: #ededed;
	    border-bottom: 1px solid #CCCCCC;
	    padding-bottom: 10px;
	    padding-top: 12px;
	    font-size: 18px;
	}

	div.commentItem {
		margin-bottom: 10px;
	}

	div.commentUser {
		width: 25%;
	}
	div.commentContainer {
		width: 75%;
	}
	div.commentContent {
		padding: 12px;
		background-color:  #EDEDED;
		border-radius: 8px 8px 0 0;
	}
	div.commentInfo {
		padding: 6px 12px 4px;
		border-top: 1px solid #c5c5c5;
		background-color:  #EDEDED;
		border-radius: 0 0 8px 8px;
	}

	div.rowWrapper {
		overflow: visible;
		margin-bottom: 30px;
	}

	div.rowItem {
		margin-bottom: 15px;
	}

	div.rowItem:last-child {
		margin-bottom: 0;
	}


	div.row {
		border-bottom: 1px solid #ccc;
		padding-top: 12px;
		padding-bottom: 10px;
	}
	div.rownoborder {
		padding-top: 12px;
		padding-bottom: 10px;
	}
	div.resultPic {
		width: 30.5%;
	}
	div.resultPic img {
		width: 100%;
	}
	div.resultInfo {
		width: 69.5%;
		padding-left: 1.5%;
	}

	p.panelTitle { font-size: 18px; margin-bottom: 8px;}

	div#restoHeader {
		margin: 0 auto;
		background-color: white;
		//width: 960px;
		height: auto;
	}
	div#restoHeader > div {

		padding: 12px 15px;
	}
	div#restoNav {
		padding: 2px 15px;
		background-color: rgba(0,0,0,0.6);
		color: white;
	}
	div#restoNav ul{
		display: block;
		width:100%;
	}
	div#restoNav ul li {
		display: block;
		float: left;
		text-align: center;
		width:25%;
		border-right: 1px solid white;
	}
	div#restoNav ul li:last-child {
		border-right: none;
	}
	div#restoNav ul li a{
		color: white;
		text-decoration: none;
		font-size: 16px;
	}
	div#restoNav ul li a.active{
		color: white;
		border-bottom: 1px solid white;
	}

	.restoLogo{
		//margin-right: 10px;
		margin-right: 5%;
		width: 20%;
	}
	.restoLogo img{
		width: 100%;
	}
	.restoInfo {
		//width: 715px;
		width: 75%;
	}
	.restoInfo p, .restoInfo h1{
		text-align: center;
	}.restoInfo h1{
		font-size: 28px;
		margin-top:	15px;
		margin-bottom: 25px;
	}
/* LIST RESULT STYLING | ends */


/* HEADINGS | starts */

h2.rowTitle {
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
}
.leftContainer h2.rowTitle {
	font-size: 18px;
}

/* HEADINGS | ends

/* CAPTION IMAGE | starts */


.box13, .box33 {  
    cursor: pointer;  
    height: 170px;  
    position: relative; 
    overflow: hidden;  
    width: 31.11111111111111%;  
    border: 1px solid #b3b3b3;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}  
.full{ 
    height: 170px;
}  
.box13 {  
	float: left;
	margin-right: 3.333333333333333%;
}  
.box33 {
	float: right;
	margin-right: 0;
}  
.box14, .box44 {  
    cursor: pointer;  
    height: 122px;  
    position: relative; 
    overflow: hidden;  
    width: 22.45%;  
    border: 1px solid #b3b3b3;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}  
.box14 {
	float: left;
	margin-right: 3.333333333333333%;
}  
.box44 {
	float: right;
	margin-right: 0;
}  
  
.box13 img, .box14 img, .box33 img, .box44 img {  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
}  

.box13 .caption, .box14 .caption, .box33 .caption, .box44 .caption {  
    background-color: rgba(255,255,255,0.8);  
    position: absolute;  
    color: black;  
    //z-index: 100;  
    -webkit-transition: all 100ms ease-out;  
    -moz-transition: all 100ms ease-out;  
    -o-transition: all 100ms ease-out;  
    -ms-transition: all 100ms ease-out;  
    transition: all 100ms ease-out;  
    left: 0;  
}  

.box13 .simple-caption, .box33 .simple-caption{  
    height: 20%;  
    width: 100%;  
    //display: block;  
    bottom: -20%;  
    line-height: 30pt;  
    text-align: center;  
}  
.box14 .simple-caption, .box44 .simple-caption{  
    height: 30%;  
    width: 100%;  
    //display: block;  
    bottom: -30%;  
    line-height: 30pt;  
    text-align: center;  
}  
.box13 .simple-caption, .box14 .simple-caption, .box33 .simple-caption, .box44 .simple-caption {  
    -moz-transform: translateY(-100%);  
    -o-transform: translateY(-100%);  
    -webkit-transform: translateY(-100%);  
    transform: translateY(-100%);  


}
.box13:hover .simple-caption, .box14:hover .simple-caption, .box33:hover .simple-caption, .box44:hover .simple-caption {  
	background-color: white;
	border-bottom: 1px solid yellow;
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);

    -moz-transform: translateY(-110%);  
    -o-transform: translateY(-110%);  
    -webkit-transform: translateY(-110%);  
    transform: translateY(-110%);  

}
.box13:hover, .box14:hover, .box33:hover, .box44:hover {  

	box-shadow: 0 5px 4px rgba(0,0,0,0.3);

}
/* CAPTION IMAGE | ends */



/* FOOTER STYLE */


#footerContainer {
	background-color: #373737;
	border-top: 2px solid yellow;
	margin-top: 30px;
	color: white;
	padding-top: 24px;
}

#footerContainer div ul li{ float:left; margin-right: 27px;}
#footerContainer div ul li a{ color:white;}

.nav {
	font-size: 18px;
	margin-top: 11px;
}
a.nav-item {
	color: blue;
}

ul.nav {
	margin-right: 50px;
}


div#footerContainer>div {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 10px;
}
div#footerContainer>div>div {
	padding-bottom: 10px;
}

#footerContainer ul.nav li {
	float: right;
	list-style: none;
	margin-left: 40px;
}

#footerContainer ul.nav li a {
	float: right;
	text-decoration: none;
  	font-family: Nexa;

}
#footerContainer ul.nav li a {
	color: white;
}
#footerContainer ul.nav li.active a {
	color: yellow;
}
#footerContainer ul.nav li a:hover {
	border-bottom: 1px solid white;
}

/* footer ends */

/* home header starts */

#homeHeaderContainer{
	padding: 30px 3.125%;
	//height: 375px;
	height: auto;
	background-color: white;
	background: url('../img/home-bg.jpg');
	//overflow: hidden;
}

.homeHeaderLeft{
	float: left;
	//margin-left: 3.125%;
	margin-left: 5.21%;
	//width: 240px;
	width: 25%;
	color: white;
}

.homeHeaderLeft p{
	font-size: 24px;
}

.homeHeaderLeft button{
	width: 100%;
	margin-top: 9px;
	padding: 10px 0;
	background-color: #61523d;
	color: #ffffff;
	border: none;
	font-size: 20px;
	cursor: pointer;
	
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.homeHeaderLeft button:hover{
	width: 100%;
	margin-top: 9px;
	padding: 10px 0;
	background-color: white;
	color: #61523d;
	border: none;
}
.homeHeaderRight{
	float: right;
	color: white;
	//width: 500px;
	width: 63.55%;
	//margin-right: 3.125%;
}

/* home header ends */



@media screen and ( min-width: 1280px) {

	div#mainContainer, div#restoHeader, nav, div.centerContainer, div#footerContainer>div {
		width: 960px;
	}
}
@media screen and ( max-width: 1100px) {
	ul.nav li a {font-size: 16px;}
	ul.nav li {margin-left: 15px;}
	ul.nav li:first-child {margin-left: 25px;}

	header.large img{
	  width: 134px; 
	  height: 40px;
	  margin-top: 11px;
	}

	.nav {
		margin-top: 0;
	}
	ul.nav li {
		margin-top: 22px;
	}
	header.small ul.nav li{
		margin-top: 15px;
	}
	div.topmargin {
		height: 70px;
	}
	header.large {
		height: 65px;
	}
	div.restoLogo {width:30%;}
	div.restoInfo {width:65%;}

}
@media screen and ( max-width: 875px) {
	header.large{ 
	  height: 50px; 
	  z-index: 999;
	  background-color: #543A30;
	  border-bottom: 1px solid #aaaaaa;
	}

	header.large form{
	  margin-top: 6px;
	}

	header.large img{
	  width: 101px; 
	  height: 30px; 
	  margin-top: 10px; 
	}

	header.large li{ 
	  margin-top: 15px; 
	}
	header nav {
		width: 90%;
	}
	div.centerContainer{
		width: 90%;
	}
	div#mainContainer, div#restoHeader {
		width:90%;
	}
}

@media screen and ( max-width: 800px) {
	/*resize header*/

	ul.nav li a {font-size: 14px;}
	header.large{ 
	  height: 50px; 
	  z-index: 999;
	  background-color: ##543A30;
	  border-bottom: 1px solid #aaaaaa;
	}

	form.search{
	  margin-top: 6px;
	}

	header:hover {
	  background-color: black;
	}

	header.large img{
	  width: 101px; 
	  height: 30px; 
	  margin-top: 10px; 
	}


	div.homeHeaderLeft {
		margin: 0;	
		width: 35%;
	}


}


@media screen and ( max-width: 675px) {
	div.homeHeaderLeft { width: 25%;}
	div.homeHeaderRight { width: 73.55%;}
	div.homeHeaderLeft p {display: none;}
	div.wrapper-dropdown-3 {margin-bottom: 5px;}
}

@media screen and ( max-width: 550px) {
	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, div.homeHeaderLeft, div.homeHeaderRight {
		width: 100%;		
	}
	div.homeHeaderLeft {
		z-index: 999;
		margin: 0;	
		margin-bottom: 10px;	
	}
	div#homeHeaderContainer {
		height: auto;
	}

	nav div.fl, nav div.fr {
		margin: 0 auto;
		width: auto;
	}
	header.large, header.small {
		height: 105px;
	}
	div.topmargin {height: 115px;}
	nav select {
		width:100%;
		margin: 10px auto 0;
	}

	div.resultPic {
		width: 50%;
		margin-left: 25%;
	}
	div#mainContainer, div#restoHeader,header nav {width: 95%;}
	div.restoInfo {
		width: 100%;
	}
	div#restoLogo {width:100%;}
	div#restoNav ul li {width: 100%; border: none;} 
	div#restoNav ul li a{font-size: 14px;} 
	div.restoLogo {width: 100%;}
	div.restoLogo img {width:70%; margin-left: 15%;}


	.box14 .simple-caption, .box44 .simple-caption{  
	    height: 40%; 
	    line-height: 14pt;  
	}  
	.box13 .simple-caption, .box14 .simple-caption, .box33 .simple-caption, .box44 .simple-caption {  
	    -moz-transform: translateY(-75%);  
	    -o-transform: translateY(-75%);  
	    -webkit-transform: translateY(-75%);  
	    transform: translateY(-75%);  
	}
	.box13:hover .simple-caption, .box14:hover .simple-caption, .box33:hover .simple-caption, .box44:hover .simple-caption {  
	    -moz-transform: translateY(-90%);  
	    -o-transform: translateY(-90%);  
	    -webkit-transform: translateY(-90%);  
	    transform: translateY(-90%);  
	}


}

@media screen and ( max-width: 212px) {

	div.resultPic, div.resultInfo {
		width: 100%;	
		margin: auto;	
	}

	div#mainContainer, div#restoHeader, nav {width: 95%;}


	.box14 .simple-caption, .box44 .simple-caption{  
	    height: 50%;  
	    width: 100%;  
	    //display: block;  
	    bottom: -30%;  
	    line-height: 20pt;  
	    text-align: center;  
	}  



}

@media screen and ( max-width: 825px) {
	nav {font-size: 12px;}
}



/* convert nav to dropdown */

nav select {
  display: none;
}

@media (max-width: 700px) {
  nav ul     { display: none; }
  nav select { 
  	display: inline-block; 
  	margin-top:6px;
  	height: 36px;
  }
}







/* check box styling */

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    font-size:14px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

.radio input[type="radio"] {
    display:none;
}

.radio input[type="radio"] + label {
    font-size:14px;
}

.radio input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}
.radio input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}

p.check {
	margin: 5px 0;
}









/* google buttons */


.irc_b .irc_but {
    display: inline-table;
    margin: 0 10px 0 0;
}
.irc_b td:last-of-type .irc_but {
    margin: 0;
}
.irc_but_s,.irc_but_d {
    -moz-user-select: none;
    background-color: #454545;
    background-image: -moz-linear-gradient(center top , #303030, #262626);
    border: 1px solid #141414;
    border-radius: 2px 2px 2px 2px;
    color: #9F9F9F !important;
    cursor: pointer !important;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    margin: 0 5px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    white-space: normal;
    word-wrap: normal;
    width: auto;
}
.irc_but_s {
	line-height: 20px;
}
.irc_but_d {
	line-height: 10px;
}
.irc_but:hover {
    background-color: #3D3D3D;
    background-image: -moz-linear-gradient(center top , #343434, #2D2D2D);
    border: 1px solid #191919;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09), 1px 1px 0 rgba(255, 255, 255, 0.05), -1px -1px 0 rgba(0, 0, 0, 0.02), 1px 1px 0 rgba(255, 255, 255, 0.05) inset;
    color: #AFAFAF !important;
}
.irc_but:focus {
    border-color: #414141;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    color: #CFCFCF !important;
}
.irc_but:active {
    border-color: #3D3D3D;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.irc_but::-moz-focus-inner {
    border: 0 none;
}
.irc_but_t {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle;
}

.dropyeah{
	padding: 5px;
	width: 100%;
}

.btn{
	margin-top: 9px;
	padding: 5px 15px 5px 15px;
	background-color: #61523d;
	color: #ffffff;
	border: none;
	font-size: 15px;
	cursor: pointer;
}
.btn:hover{
	-webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;

	background-color: black;
	color: yellow;
	border: none;
}

.floatleft{
	float: left;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.btn[disabled] {
  color: #333333;
  cursor: not-allowed;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}