	/* * Joiee v1.0 - Obfuscated Template Stylesheet * * This file is part of Joiee, a HTML template build for sale at ThemeForest. * For questions, suggestions or support request, please mail me at maimairel@yahoo.com * * Development Started: * December 10, 2012 * */body
{
	color:#555;
	font-family:'Open Sans',Arial,Helvetica,sans-serif
}
	p
{
	margin-bottom:14px
}
	h1,h2,h3,h4,h5,h6
{
	margin-top:0;
	color:#444
}
	h1,h2,h3
{
	line-height:32px
}
	h1
{
	font-size:21px
}
	h2
{
	font-size:18px
}
	h3
{
	font-size:15px
}
	h4
{
	font-size:14px
}
	h5
{
	font-size:13px
}
	h6
{
	font-size:12px
}
	h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
	color:#444
}
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover
{
	color:#555
}
.highlight
{
	color:#8ecd44
}
.page-description
{
	font-weight:normal;
	text-align:center;
	padding-bottom:40px;
	margin-bottom:40px;
	border-bottom:1px solid #ddd;
	font-size:24px;
	line-height:1.8
}
.headline
{
	border-bottom:1px solid #ddd;
	background-color:#fcfcfc;
	font-size:21px;
	padding:40px 0;
	margin-bottom:40px;
	text-align:center;
	line-height:1.8
}
.underline
{
	display:inline-block;
	*display:inline;
	*zoom:1;
	border-bottom:2px solid #8ecd44
}
	a
{
	-webkit-transition:color .1s ease-in-out;
	-moz-transition:color .1s ease-in-out;
	transition:color .1s ease-in-out
}
	a:focus
{
	outline:0
}
	a:hover
{
	text-decoration:none
}
.underline-heading
{
	border-bottom:1px solid #ddd;
	margin-bottom:30px
}
.underline-heading h1,.underline-heading h2,.underline-heading h3,.underline-heading h4,.underline-heading h5,.underline-heading h6
{
	border-bottom:3px solid #8ecd44;
	display:inline-block;
	margin-bottom:-2px;
	*display:inline;
	*zoom:1
}
	blockquote
{
	border:0;
	position:relative;
	background-color:#eee;
	padding:32px 32px 32px 64px
}
	blockquote small
{
	font-size:13px
}
	blockquote:before
{
	content:"\02EE";
	color:#444;
	text-align:center;
	font-size:100px;
	position:absolute;
	left:20px;
	top:50px
}
.error-page
{
	text-align:center;
	margin-top:100px
}
.error-page .form
{
	margin-top:40px
}
.error-page .error-code
{
	font-size:180px;
	line-height:1.2;
	color:#333;
	color:rgba(51,51,51,0.85);
	text-shadow:1px 4px 6px #fff,0 0 0 #000,1px 4px 6px #fff
}
	@media only screen and (max-width:480px)
{
.page-description
{
	font-size:19px
}

}
.form
{
	clear:both;
	display:block;
	margin-bottom:20px
}
.form .form-row
{
	margin-bottom:20px
}
.form .button-row .btn+.btn,.form .button-row .btn-group+.btn,.form .button-row .btn+.btn-group
{
	margin-left:5px
}
.form fieldset
{
	margin:0;
	padding:0;
	border:0
}
.form fieldset:first-child legend
{
	border-top:0
}
.form fieldset legend
{
	margin:0;
	border:solid #ccc;
	border-width:1px 0;
	background:#f8f8f8 repeat-x left bottom;
	background-image:-ms-linear-gradient(top,#f8f8f8,#e7e7e7);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e7e7e7));
	background-image:-webkit-linear-gradient(top,#f8f8f8,#e7e7e7);
	background-image:-o-linear-gradient(top,#f8f8f8,#e7e7e7);
	background-image:-moz-linear-gradient(top,#f8f8f8,#e7e7e7);
	background-image:linear-gradient(top,#f8f8f8,#e7e7e7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e7e7e7',GradientType=0);
	color:#555;
	line-height:24px;
	padding:8px;
	padding-left:20px;
	width:100%;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
.form fieldset:first-child
{
	border-top:0
}
.form .form-label
{
	padding-bottom:5px;
	cursor:pointer;
	display:block
}
.form .form-label .required
{
	color:#f00
}
.form .form-item
{
	position:relative
}
.form .form-item .medium
{
	width:80%
}
.form .form-item .large
{
	width:100%
}
.form .form-item .small
{
	width:60%
}
	select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]
{
	border:1px solid #ddd;
	padding:9px;
	color:#555;
	margin:0;
	line-height:16px;
	background-color:#fbfbfb;
	outline:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	/*box-sizing:border-box;*/
	/*-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;*/
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	-webkit-box-shadow:inset 0 1px 3px rgba(128,128,128,0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(128,128,128,0.1);
	box-shadow:inset 0 1px 3px rgba(128,128,128,0.1)
}
	textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus
{
	background-color:#fff
}
.form textarea
{
	height:10em;
	resize:none
}
.form input[disabled],.form select[disabled],.form textarea[disabled],.form input[readonly],.form select[readonly],.form textarea[readonly]
{
	background:#f0f0f0
}
.form select.error,.form textarea.error,.form input[type="text"].error,.form input[type="password"].error,.form input[type="datetime"].error,.form input[type="datetime-local"].error,.form input[type="date"].error,.form input[type="month"].error,.form input[type="time"].error,.form input[type="week"].error,.form input[type="number"].error,.form input[type="email"].error,.form input[type="url"].error,.form input[type="search"].error,.form input[type="tel"].error,.form input[type="color"].error
{
	border-color:#eb979b
}
.form .form-cols
{
	*zoom:1
}
.form .form-cols:before,.form .form-cols:after
{
	display:table;
	content:"";
	line-height:0
}
.form .form-cols:after
{
	clear:both
}
.form .form-cols [class^="form-col-"] .form-label,.form .form-cols [class*=" form-col-"] .form-label
{
	white-space:nowrap;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis
}
.form .form-cols [class^="form-col-"],.form .form-cols [class*=" form-col-"]
{
	float:left;
	margin-left:1.8181818181818181%
}
.form .form-cols [class^="form-col-"]:first-child,.form .form-cols [class*=" form-col-"]:first-child
{
	margin-left:0
}
.form .form-cols .form-item
{
	margin:0!important
}
.form .form-cols .form-col-8-8
{
	width:100%
}
.form .form-cols .form-col-7-8
{
	width:87.27272727272727%
}
.form .form-cols .form-col-6-8
{
	width:74.54545454545455%
}
.form .form-cols .form-col-5-8
{
	width:61.81818181818181%
}
.form .form-cols .form-col-4-8
{
	width:49.090909090909086%
}
.form .form-cols .form-col-3-8
{
	width:36.36363636363636%
}
.form .form-cols .form-col-2-8
{
	width:23.636363636363633%
}
.form .form-cols .form-col-1-8
{
	width:10.909090909090908%
}
.form .form-cols [class^="form-col-"] select,.form .form-cols [class^="form-col-"] textarea,.form .form-cols [class^="form-col-"] input
{
	width:100%
}
.form .form-inline .form-item
{
	margin-left:156px
}
.form .form-inline .form-label
{
	width:140px;
	float:left;
	padding-top:5px
}
.form .form-inline .form-block .form-label
{
	width:auto;
	float:none;
	padding-top:0;
	margin-right:0
}
.form .form-inline .form-block .form-item
{
	margin-left:0
}
.form .form-list,.form .form-list li
{
	margin:0;
	padding:0;
	list-style:none
}
.form .form-list li
{
	margin-bottom:4px
}
.form .form-list li:last-child
{
	margin-bottom:0
}
.form .form-list.inline
{
	margin-top:4px
}
.form .form-list.inline li
{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:0 5px 0 0;
	vertical-align:middle
}
.form .form-list li>input,.form .form-list li>label
{
	padding:0;
	margin:0 1px 0 0;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle
}
.form .form-row:before,.form .form-row:after
{
	display:table;
	content:"";
	line-height:0
}
.form .form-row:after
{
	clear:both
}
.form .form-row
{
	*zoom:1
}
.form .form-item .error,.form .form-item label.error,.form .form-item span.error,.form .form-item div.error
{
	background:0;
	color:#c83139;
	margin:0;
	width:auto;
	float:none;
	display:block;
	padding:5px 0 0;
	font-size:12px
}
	@media only screen and (max-width:767px)
{
.form .form-inline .form-label,.form .form-inline .form-item
{
	display:block;
	width:100%;
	margin:0;
	float:none
}
.form .form-inline .form-label
{
	padding-top:0
}
.form .form-inline .form-list
{
	float:none;
	width:auto;
	display:block
}
.form .form-list.inline li
{
	float:none;
	margin-right:0
}

}
	@media only screen and (max-width :480px)
{
.form .form-item,.form .form-item .medium,.form .form-item .large,.form .form-item .small
{
	width:100%
}
.form-message
{
	padding-top:10px;
	padding-bottom:10px;
	background-position:12px 7px
}

}
.btn
{
	outline:0;
	background-image:none!important;
	-webkit-transition:background-color .1s ease-in-out;
	-moz-transition:background-color .1s ease-in-out;
	transition:background-color .1s ease-in-out
}
.btn:focus
{
	outline:0
}
.btn:hover,.btn:active,.btn[disabled]
{
	background-color:#e8e8e8
}
.btn-primary
{
	background-color:#77a6ee
}
.btn-primary:hover,.btn-primary:active,.btn-primary[disabled]
{
	background-color:#4866c8
}
.btn-warning
{
	background-color:#f78234
}
.btn-warning:hover,.btn-warning:active,.btn-warning[disabled]
{
	background-color:#ea7b31
}
.btn-danger
{
	background-color:#d84d5a
}
.btn-danger:hover,.btn-danger:active,.btn-danger[disabled]
{
	background-color:#cd4955
}
.btn-success
{
	background-color:#8ecd44
}
.btn-success:hover,.btn-success:active,.btn-success[disabled]
{
	background-color:#86c240
}
.btn-info
{
	background-color:#4dd0d8
}
.btn-info:hover,.btn-info:active,.btn-info[disabled]
{
	background-color:#49c5cd
}
.btn-inverse
{
	background-color:#333
}
.btn-inverse:hover,.btn-inverse:active,.btn-inverse[disabled]
{
	background-color:#303030
}
.container .column,.container .columns
{
	-webkit-transition:width .2s ease-in-out;
	-moz-transition:width .2s ease-in-out;
	transition:width .2s ease-in-out
}
	#main-header
{
	background-color:#292929;
	padding-top:3px
}
	#header-top
{
	background-color:#333;
	background-image:url(../img/noise.png);
	border-top:1px solid #555
}
	#logo-container
{
	float:left
}
	#header-top .tagline
{
	float:left;
	margin-left:20px;
	color:#999;
	padding:2px 0 2px 10px;
	margin-top:24px;
	border-left:1px solid #444;
	font-size:13px;
	display:inline-block;
	*display:inline;
	*zoom:1
}
	#logo-center
{
	height:75px;
	display:table
}
	#logo-center a
{
	display:table-cell;
	vertical-align:middle
}
	#main-nav ul,#main-nav ul li
{
	margin:0;
	padding:0;
	list-style:none
}
	#main-nav,#main-nav ul
{
	float:right
}
	#main-nav ul li
{
	float:left;
	position:relative;
	padding:26px 18px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px
}
	#main-nav ul li,#main-nav ul li a
{
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	transition:all .1s linear
}
	#main-nav ul li a
{
	color:#999;
	display:block
}
	#main-nav ul li.active>a,#main-nav ul li a:hover
{
	color:#fff
}
	#main-nav ul li.active
{
	border-top:4px solid #8ecd44;
	margin-top:-4px
}
	#main-nav ul li.active:before
{
	content:'';
	border:4px solid transparent;
	border-top-color:#8ecd44;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-4px
}
	#main-nav ul li.active,#main-nav ul li:hover
{
	background-color:#2f2f2f
}
	#main-nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:200px;
	z-index:1000;
	background-color:#2f2f2f;
	opacity:0;
	-webkit-transition:opacity .1s ease-in-out;
	-moz-transition:opacity .1s ease-in-out;
	transition:opacity .1s ease-in-out
}
	#main-nav ul ul ul
{
	left:100%;
	top:0
}
	#main-nav ul ul li
{
	float:none;
	padding:0;
	font-weight:normal;
	text-transform:none
}
	#main-nav ul ul li a
{
	padding:8px 16px;
	border-top:1px solid #444
}
	#main-nav ul ul li:first-child a
{
	border-top:0
}
	#main-nav ul ul li a:hover
{
	background-color:#8ecd44
}
	#main-nav ul li:hover>ul
{
	opacity:1
}
.selectnav
{
	display:none
}
	#header-bottom
{
	border-bottom:1px solid #e8e8e8;
	margin-bottom:40px
}
	#header-bottom .breadcrumb
{
	margin:0;
	font-size:12px;
	line-height:20px;
	padding:10px 0;
	background:0;
	filter:none
}
	#header-bottom .breadcrumb li
{
	color:#fff
}
	#header-bottom .breadcrumb li,#header-bottom .breadcrumb li a
{
	line-height:20px;
	text-shadow:none
}
	#header-bottom .breadcrumb li a
{
	display:inline-block;
	*display:inline;
	*zoom:1
}
	#header-bottom .breadcrumb li .divider
{
	padding:0 1px
}
	#main-content .page-header
{
	border-bottom-color:#d0d0d0;
	border-bottom-style:dotted;
	margin:0 10px 40px;
	padding:0
}
	#main-content .page-header h1
{
	font-size:32px;
	margin:0;
	font-weight:normal;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 0 40px
}
	#main-content .page-header h1 small
{
	display:block;
	line-height:1.7;
	font-size:18px;
	margin-top:10px
}
	#main-content
{
	margin-bottom:40px
}
	#footer
{
	font-size:13px;
	position:relative;
	background-color:#333
}
	#footer:before
{
	content:'';
	border:10px solid transparent;
	border-top-color:#fff;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-10px
}
	#footer-top
{
	padding:30px 0;
	color:#aaa
}
	#footer-top h3
{
	text-transform:uppercase;
	color:#fff
}
	#footer-top .form input,#footer-top .form textarea
{
	width:100%;
	color:#ddd;
	border-color:#222;
	background-color:#444
}
	#footer-bottom
{
	background-color:#282828;
	color:#aaa;
	border-top:1px solid #3f3f3f;
	padding:32px 0
}
.footer-nav
{
	float:right
}
.footer-nav,.footer-nav li
{
	margin:0;
	padding:0;
	list-style:none
}
.footer-nav li
{
	float:left;
	margin-left:10px
}
.footer-nav li a
{
	color:#aaa
}
.footer-nav li a:hover
{
	color:#fff
}
.sidebar .sidebar-section
{
	margin-bottom:20px
}
.sidebar .underline-heading
{
	margin-bottom:20px
}
.sidebar-section .search-query
{
	width:100%
}
.sidebar .latest-posts,.sidebar .latest-posts li
{
	margin:0;
	padding:0;
	list-style:none
}
.sidebar .latest-posts li .thumbnail
{
	width:64px;
	margin-right:10px;
	float:left
}
.sidebar .latest-posts li
{
	margin-bottom:15px;
	*zoom:1
}
.sidebar .latest-posts li:before,.sidebar .latest-posts li:after
{
	display:table;
	content:"";
	line-height:0
}
.sidebar .latest-posts li:after
{
	clear:both
}
.sidebar .latest-posts li .text
{
	overflow:hidden;
	font-size:13px;
	line-height:1.5
}
.sidebar .latest-posts li .text .title a
{
	color:#444
}
.sidebar .latest-posts li .text .title a:hover
{
	color:#555
}
.sidebar .latest-posts li .text .date
{
	font-size:11px;
	margin-top:3px;
	font-weight:bold
}
.slider-wrap
{
	background-color:#fff;
	background-image:url(../img/slider-wrap-bg.png);
	border-bottom:1px solid #ddd;
	margin-bottom:40px
}
.slider-wrap .slider-box
{
	margin:50px 0;
	padding:9px;
	position:relative;
	background-color:#fff;
	border:1px solid #ddd;
	position:relative;
	-webkit-box-shadow:0 2px 20px rgba(0,0,0,0.15);
	-moz-box-shadow:0 2px 20px rgba(0,0,0,0.15);
	box-shadow:0 2px 20px rgba(0,0,0,0.15)
}
.slider-wrap.slider-wrap-no-margin
{
	margin-bottom:0
}
.blog-index .post
{
	border-bottom:1px solid #ddd
}
.blog .post
{
	margin-bottom:60px;
	*zoom:1
}
.blog .post:before,.blog .post:after
{
	display:table;
	content:"";
	line-height:0
}
.blog .post:after
{
	clear:both
}
.blog .post .side
{
	width:140px;
	float:left
}
.blog .post .wrap
{
	margin-left:160px;
	clear:right
}
.blog .post .side .post-type
{
	background-color:#8ecd44;
	width:60px;
	height:60px;
	overflow:hidden;
	text-align:center;
	float:left
}
.blog .post .side .post-type [class*="icon-"]
{
	line-height:60px;
	font-size:32px;
	color:#fff
}
.blog .post .side .date
{
	background-color:#333;
	text-align:center;
	margin-left:60px;
	padding:7px 0
}
.blog .post .side .date span
{
	display:block;
	font-weight:bold;
	color:#fff
}
.blog .post .side .date span.day
{
	font-size:24px
}
.blog .post .content
{
	margin-bottom:32px
}
.blog .post .content .title
{
	margin:0;
	font-size:21px
}
.blog .post .content .meta
{
	padding:0;
	margin:0 0 20px;
	list-style:none
}
.blog .post .content .meta li
{
	float:left;
	font-size:13px;
	margin-right:10px;
	color:#aaa
}
.blog .post .content .meta li a
{
	color:#aaa
}
.blog .post .content .meta li a:hover
{
	color:#8ecd44
}
.blog .post .content .meta li [class*="icon"]
{
	margin-right:4px
}
.blog .post .content .media
{
	margin:0 0 20px
}
.blog .post .wrap .read-more
{
	float:right;
	text-transform:uppercase;
	font-weight:bold
}
.blog .post .wrap .read-more a
{
	color:#fff;
	display:block;
	margin-bottom:-22px;
	line-height:20px;
	background-color:#8ecd44;
	padding:8px 16px;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.blog .post .wrap .read-more a:hover
{
	background-color:#444
}
.blog .post .share-wrap,.blog .post .share-wrap>.share
{
	border-top:1px dotted #ddd
}
.blog .post .share-wrap
{
	padding-top:3px
}
.blog .post .share-wrap>.share
{
	padding:20px 0
}
.blog .post .share-wrap>.share .share-label
{
	float:left;
	line-height:32px;
	text-transform:uppercase;
	font-weight:bold
}
.blog .post .share-wrap>.share .share-buttons
{
	float:right
}
.blog .post .author
{
	margin-bottom:32px
}
.blog .post .author .photo
{
	width:128px;
	height:128px;
	margin-right:10px;
	float:left
}
.blog .post .author .info
{
	overflow:hidden;
	font-size:13px
}
.blog .post .author .info .name
{
	font-weight:bold;
	font-size:14px;
	margin-bottom:10px
}
.blog .post .author .info .name a
{
	color:#444
}
.blog .post .author .info .name a:hover
{
	color:#555
}
.blog .post .author .info .name small
{
	display:block;
	font-weight:normal;
	font-size:13px;
	color:#999
}
.blog .post .comments
{
	margin-bottom:40px
}
.blog .post .comments ul,.blog .post .comments ul li
{
	margin:0;
	padding:0;
	list-style:none
}
.blog .post .comments ul ul
{
	margin-top:20px;
	margin-left:-45px
}
.blog .post .comments>ul>li+li
{
	border-top:1px dotted #ddd
}
.blog .post .comments>ul>li
{
	padding:20px 0
}
.blog .post .comments ul li .photo
{
	width:80px;
	height:10px;
	float:left
}
.blog .post .comments ul li .body
{
	margin-left:90px
}
.blog .post .comments ul li .body .head .name
{
	font-weight:bold
}
.blog .post .comments ul li .body .head .name a
{
	color:#444
}
.blog .post .comments ul li .body .head .name a:hover
{
	color:#555
}
.blog .post .comments ul li .body .head .date
{
	font-size:13px;
	color:#aaa
}
.blog .post .comments ul li .body .head
{
	margin-bottom:10px
}
.portfolio-filter ul,.portfolio-filter ul li
{
	margin:0;
	padding:0;
	list-style:none
}
.portfolio-filter
{
	*zoom:1;
	border-bottom:1px solid #ddd;
	padding-bottom:40px;
	margin-bottom:40px
}
.portfolio-filter:before,.portfolio-filter:after
{
	display:table;
	content:"";
	line-height:0
}
.portfolio-filter:after
{
	clear:both
}
.portfolio-filter ul
{
	float:left
}
.portfolio-filter ul li
{
	float:left;
	text-align:center;
	text-transform:uppercase;
	margin-right:10px;
	font-weight:bold
}
.portfolio-filter ul li a
{
	color:#444;
	padding:6px 15px;
	margin-bottom:6px;
	display:block;
	position:relative;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-transition:none;
	-moz-transition:none;
	transition:none
}
.portfolio-filter ul li.active a,.portfolio-filter ul li:hover a
{
	background-color:#8ecd44;
	color:#fff
}
.portfolio-filter ul li.active a:after
{
	content:'';
	border:6px solid transparent;
	border-top-color:#8ecd44;
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-6px
}
.portfolio-items .item
{
	margin-bottom:20px
}
.portfolio-items .item .image
{
	position:relative;
	overflow:hidden
}
.portfolio-items .item .image .overlay
{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity:0;
	display:block;
	color:#fff;
	-webkit-transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out;
	background-color:rgba(0,0,0,0.75)
}
.lt-ie9 .portfolio-items .item .image .overlay
{
	background:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNgYGDYDwAAxADA5GrqEwAAAABJRU5ErkJggg==);
	display:none
}
.lt-ie9 .portfolio-items .item .image:hover .overlay
{
	display:block
}
.portfolio-items .item .image:hover .overlay
{
	opacity:1
}
.portfolio-items .item .image .overlay .actions,.portfolio-items .item .image .overlay .actions li
{
	margin:0;
	padding:0;
	list-style:none
}
.portfolio-items .item .image .overlay .actions
{
	text-align:center;
	position:absolute;
	vertical-align:middle;
	top:50%;
	margin-top:-36px;
	width:100%
}
.portfolio-items .item .image .overlay:after
{
	content:'';
	width:60%;
	background-color:#666;
	height:1px;
	position:absolute;
	top:50%;
	left:20%
}
.portfolio-items .item .image .overlay .actions li
{
	position:relative;
	-webkit-transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out
}
.portfolio-items .item .image .overlay .actions li a
{
	color:#fff
}
.portfolio-items .item .image .overlay .actions li a:hover
{
	color:#8ecd44
}
.portfolio-items .item .image .overlay .actions li [class*="icon-"]
{
	font-size:24px
}
.portfolio-items .item .image .overlay .actions li.view
{
	top:-200px;
	margin-bottom:20px
}
.portfolio-items .item .image .overlay .actions li.details
{
	bottom:-200px;
	padding:0 20px
}
.portfolio-items .item .image .overlay .actions li.details .tags
{
	font-size:12px;
	color:#aaa
}
.portfolio-items .item .image .overlay .actions li.details .tags,.portfolio-items .item .image .overlay .actions li.details .name
{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.portfolio-items .item .image:hover .overlay .actions li
{
	top:auto;
	bottom:auto
}
.portfolio-row
{
	padding-bottom:40px;
	border-bottom:1px solid #ddd;
	margin-bottom:40px
}
.portfolio-row .read-more a
{
	color:#fff;
	display:block;
	line-height:20px;
	background-color:#8ecd44;
	padding:8px 16px;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.portfolio-row .read-more a:hover
{
	background-color:#444
}
.portfolio .portfolio-meta span
{
	display:block;
	font-size:14px;
	padding:16px 0;
	border-top:1px solid #ddd;
	position:relative
}
.portfolio .portfolio-meta span:before
{
	position:absolute;
	width:48px;
	left:0;
	top:-2px;
	content:'';
	background-color:#8ecd44;
	height:3px
}
.portfolio .portfolio-meta span [class^="icon-"]
{
	font-size:32px;
	width:48px;
	height:32px;
	line-height:32px;
	color:#444;
	text-align:center;
	margin-right:5px
}
	@media only screen and (max-width:767px)
{
.blog .post .side
{
	width:auto;
	float:none;
	margin-bottom:10px
}
.blog .post .side .date span
{
	display:inline;
	line-height:42px;
	overflow:hidden;
	white-space:nowrap
}
.blog .post .wrap
{
	clear:none;
	margin-left:0
}
.blog .post .share-wrap>.share .share-label
{
	float:none;
	display:block;
	margin-bottom:10px
}
.blog .post .share-wrap>.share .share-buttons
{
	display:block;
	float:none
}
.blog .post .share-wrap>.share .share-buttons .sharrre
{
	clear:both;
	margin:0 0 5px 0
}

}
	@media only screen and (max-width:480px)
{
	#footer-bottom
{
	text-align:center
}
.footer-nav,.footer-nav li
{
	float:none
}
.footer-nav li
{
	display:inline-block;
	*display:inline;
	*zoom:1
}
.portfolio-filter ul li
{
	margin:0;
	display:block;
	width:100%
}
.portfolio-filter ul li.active a:after
{
	display:none
}

}
.check-list,.check-list li
{
	margin:0;
	padding:0;
	list-style:none
}
.check-list
{
	margin-bottom:20px
}
.check-list li
{
	padding:5px 0;
	line-height:1.7
}
.check-list .arrow-list
{
	margin-left:25px
}
.check-list li:before
{
	font-family:'glyphicons';
	content:"\e103";
	color:#8ecd44;
	margin-right:8px
}
.social:before,.social:after
{
	display:table;
	content:"";
	line-height:0
}
.social:after
{
	clear:both
}
.social
{
	*zoom:1;
	margin-bottom:20px
}
.social ul
{
	float:left;
	position:relative
}
.social ul,.social ul li
{
	margin:0;
	padding:0;
	list-style:none
}
.social ul li
{
	float:left;
	font-size:28px;
	margin-right:5px
}
.social ul li a
{
	color:#aaa
}
.social ul li a:hover
{
	color:#666
}
.social ul li a [class*="icos-"]
{
	opacity:.65;
	-webkit-transition:opacity .1s ease-in-out;
	-moz-transition:opacity .1s ease-in-out;
	transition:opacity .1s ease-in-out
}
.social ul li a:hover [class*="icos-"]
{
	opacity:1
}
.arrow-list,.arrow-list li
{
	margin:0;
	padding:0;
	list-style:none
}
.arrow-list li
{
	position:relative;
	line-height:1.7;
	padding:5px 0
}
.arrow-list li a
{
	color:#666;
	-webkit-transition:all .05s ease-out;
	-moz-transition:all .05s ease-out;
	transition:all .05s ease-out
}
.arrow-list li:hover a
{
	color:#444
}
.arrow-list .check-list
{
	margin-left:25px
}
.arrow-list li:before
{
	content:'';
	display:inline-block;
	height:0;
	width:0;
	border:5px solid transparent;
	border-left-color:#8ecd44;
	margin-right:3px
}
.tag-labels,.tag-labels li
{
	margin:0;
	padding:0;
	list-style:none
}
.tag-labels li
{
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:1.7;
	margin:0 6px 6px 0
}
.tag-labels li a,.tag-labels li span
{
	background-color:#fafafa;
	color:#444;
	line-height:1;
	border:1px solid #e6e6e6;
	display:block;
	padding:6px 10px;
	-webkit-transition:background-color .2s ease-in-out;
	-moz-transition:background-color .2s ease-in-out;
	transition:background-color .2s ease-in-out;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px
}
.tag-labels li:hover a,.tag-labels li:hover span
{
	background-color:#eee;
	border-color:#ddd
}
.skill
{
	margin-bottom:20px
}
.skill h3
{
	margin-bottom:5px
}
.skill .circles
{
	overflow:hidden;
	*zoom:1
}
.skill .circles:before,.skill .circles:after
{
	display:table;
	content:"";
	line-height:0
}
.skill .circles:after
{
	clear:both
}
.skill .circles span
{
	display:block;
	float:left;
	padding:3.75%;
	margin-right:2.5%;
	width:auto;
	height:auto;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	background:#eee;
	text-align:center;
	position:relative
}
.skill .circles span.filled
{
	background-color:#8ecd44
}
.testimonial
{
	margin-bottom:20px
}
.testimonial .body
{
	padding:20px 20px 20px 48px;
	position:relative;
	background-color:#f5f5f5;
	margin-bottom:10px
}
.testimonial .body:before
{
	content:"\02EE";
	color:#444;
	text-align:center;
	font-size:72px;
	position:absolute;
	left:16px;
	top:40px
}
.testimonial .author
{
	padding-left:20px
}
.testimonial .author [class*="icon-"]
{
	float:left;
	line-height:23px
}
.testimonial .author .name
{
	margin-left:24px
}
.tweet-stream .tweet_list,.tweet-stream .tweet_list li
{
	margin:0;
	padding:0;
	list-style:none
}
.tweet-stream .tweet_list li
{
	margin-bottom:12px
}
.tweet-stream .tweet_list li .tweet_text,.tweet-stream .tweet_list li .tweet_time
{
	display:block
}
.tweet-stream .tweet_list li .tweet_time
{
	font-size:12px;
	margin-top:1px
}
.tweet-stream .tweet_list li .tweet_time a
{
	color:#eee
}
.flickr-stream ul,.flickr-stream ul li
{
	margin:0;
	padding:0;
	list-style:none
}
.flickr-stream ul li
{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:0 6px 6px 0
}
.flickr-stream ul li img
{
	max-width:64px;
	max-height:64px
}
.google-maps
{
	height:400px;
	border:1px solid #ddd;
	margin-bottom:40px
}
.our-team .photo
{
	margin-bottom:10px;
	position:relative;
	min-height:62px
}
.our-team .photo .info
{
	position:absolute;
	bottom:0;
	background-color:#373737;
	background-color:rgba(0,0,0,0.75);
	border-left:4px solid #8ecd44;
	color:#fff;
	padding:8px 20px;
	font-weight:bold;
	right:0;
	left:0
}
.our-team .photo .info small
{
	display:block;
	font-size:12px;
	color:#999
}
.our-team .social
{
	border-top:2px solid #ddd
}
.our-team .social ul
{
	border-top:2px solid #8ecd44;
	top:-2px
}
.our-team .social ul li
{
	margin:20px 5px 0 0
}
.service
{
	margin-bottom:60px;
	border-bottom:1px solid #ddd;
	*zoom:1
}
.service:before,.service:after
{
	display:table;
	content:"";
	line-height:0
}
.service:after
{
	clear:both
}
.service .icon
{
	width:72px;
	color:#4f4f4f;
	font-size:72px;
	float:left
}
.service .wrap
{
	margin-left:85px
}
.service .info
{
	margin-bottom:30px
}
.service .read-more
{
	float:right;
	text-transform:uppercase;
	font-weight:bold
}
.service .read-more a
{
	color:#fff;
	display:block;
	margin-bottom:-22px;
	line-height:20px;
	background-color:#8ecd44;
	padding:8px 16px;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.service .read-more a:hover
{
	background-color:#444
}
.highlights .highlight-item
{
	margin-bottom:40px
}
.highlights .icon
{
	width:48px;
	font-size:32px;
	float:left;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.highlights.bold .icon
{
	width:56px;
	height:56px;
	margin-right:15px;
	font-size:24px;
	color:#fff;
	background-color:#444
}
.highlights.bold .highlight-item:hover .icon
{
	background-color:#8ecd44
}
.highlights.bold .icon [class*="icon-"]
{
	width:56px;
	height:56px;
	line-height:56px;
	text-align:center
}
.highlights .text
{
	overflow:hidden
}
.callout
{
	background-color:#333;
	clear:both;
	padding:12px 40px;
	margin-bottom:40px;
	color:#fff;
	overflow:hidden;
	position:relative
}
.callout h2
{
	color:#fff;
	text-transform:uppercase;
	margin:0 125px 0 0
}
.callout h2 small
{
	display:block;
	font-size:14px;
	line-height:1.7;
	text-transform:none
}
.callout .link
{
	position:absolute;
	right:0;
	top:0;
	width:80px;
	background-color:#8ecd44;
	color:#fff;
	height:100%;
	text-align:center
}
.callout .link:before
{
	content:'';
	border:500px solid transparent;
	border-right-color:#8ecd44;
	position:absolute;
	right:100%
}
.callout .link [class*="icon-"]
{
	position:absolute;
	top:50%;
	left:50%;
	font-size:20px;
	line-height:24px;
	width:24px;
	height:24px;
	margin-top:-12px;
	margin-left:-12px
}
.portfolio-carousel
{
	margin-bottom:20px;
	position:relative
}
.portfolio-carousel .carousel-nav,.portfolio-carousel .carousel-nav li
{
	margin:0;
	padding:0;
	list-style:none
}
.portfolio-carousel .carousel-nav
{
	float:right;
	margin-top:-42px
}
.portfolio-carousel .carousel-nav li
{
	float:left;
	margin-left:1px
}
.portfolio-carousel .carousel-nav li a
{
	color:#fff;
	background-color:#8ecd44;
	display:block;
	width:24px;
	height:24px;
	font-size:12px;
	text-align:center;
	line-height:24px;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	transition:all .2s linear
}
.portfolio-carousel .carousel-nav li a:hover
{
	background-color:#333
}
.latest-blog h3
{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.latest-blog .column
{
	margin-bottom:20px
}
.latest-blog .media
{
	position:relative;
	min-height:48px;
	background-color:#fafafa
}
.latest-blog .overlay
{
	position:absolute;
	bottom:0;
	right:0
}
.latest-blog .overlay .post-type
{
	background-color:#8ecd44;
	width:48px;
	height:48px;
	overflow:hidden;
	text-align:center;
	float:left
}
.latest-blog .overlay .post-type [class*="icon-"]
{
	line-height:48px;
	font-size:32px;
	color:#fff
}
.latest-blog .overlay .date
{
	background-color:#333;
	text-align:center;
	margin-left:48px;
	line-height:22px;
	padding:2px 16px
}
.latest-blog .overlay .date span
{
	display:block;
	font-weight:bold;
	color:#fff
}
.latest-blog .overlay .date span.day
{
	font-size:21px
}
.our-clients
{
	*zoom:1;
	clear:both;
	margin-bottom:20px
}
.our-clients:before,.our-clients:after
{
	display:table;
	content:"";
	line-height:0
}
.our-clients:after
{
	clear:both
}
.our-clients .client
{
	float:left;
	width:23%;
	margin:0 1%;
	margin-bottom:20px
}
.accordion
{
	margin-bottom:40px
}
.accordion .accordion-header
{
	font-weight:normal;
	font-size:16px;
	margin:0;
	padding:15px 20px;
	padding-right:40px;
	line-height:20px;
	outline:0;
	cursor:pointer;
	position:relative;
	color:#666;
	border-left:3px solid #8ecd44;
	background-color:#f5f5f5
}
.accordion .accordion-header ~ .accordion-header
{
	margin-top:6px
}
.accordion .accordion-header .accordion-header-icon
{
	display:block;
	width:32px;
	height:32px;
	position:absolute;
	right:4px;
	top:50%;
	margin-top:-16px;
	text-align:center;
	color:#666
}
.accordion .accordion-header .accordion-header-icon:after
{
	font-family:'Glyphicons';
	content:"\e049";
	font-size:16px;
	line-height:32px
}
.accordion .accordion-header.accordion-header-active .accordion-header-icon:after
{
	content:"\e047"
}
.accordion .accordion-content
{
	padding:15px 20px
}
.pricing-table
{
	position:relative;
	z-index:100;
	float:left;
	margin-bottom:40px
}
.pricing-table.t-1-3
{
	width:33.3333%
}
.pricing-table.t-1-4
{
	width:25%
}
.pricing-table .header
{
	background-color:#444;
	font-size:16px;
	line-height:16px;
	color:#fff;
	padding:32px 0;
	font-weight:bold;
	text-align:center;
	border:1px solid #333;
	border-width:1px 0;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.1)
}
.pricing-table:first-child .header
{
	border-left:1px solid #333
}
.pricing-table:last-child .header
{
	border-right:1px solid #333
}
.pricing-table .body
{
	border:solid #ddd;
	border-width:1px 0
}
.pricing-table.featured .header
{
	margin-top:-10px;
	background-color:#333;
	border:1px solid #222
}
.pricing-table.featured .header:before,.pricing-table.featured .header:after
{
	position:absolute;
	content:'';
	border:5px solid transparent
}
.pricing-table.featured .header:before
{
	border-right-color:#111;
	border-bottom-color:#111;
	top:-10px;
	left:-10px
}
.pricing-table.featured .header:after
{
	border-bottom-color:#111;
	border-left-color:#111;
	top:-10px;
	right:-10px
}
.pricing-table.featured .body
{
	border:1px solid #ddd;
	position:relative;
	z-index:50;
	background-color:#fff;
	padding-bottom:20px
}
.pricing-table.featured .footer
{
	z-index:0;
	margin-top:-10px;
	position:relative
}
.pricing-table:first-child .body
{
	border-left:1px solid #ddd
}
.pricing-table:last-child .body
{
	border-right:1px solid #ddd
}
.pricing-table .price
{
	font-size:18px;
	color:#333;
	padding:15px 0;
	text-align:center;
	line-height:35px;
	font-weight:bold;
	background-color:#f0f0f0
}
.pricing-table .price span
{
	font-size:32px
}
.pricing-table .list
{
	background-color:#f0f0f0;
	border-top:1px solid #ddd;
	line-height:20px
}
.pricing-table .list ul,.pricing-table .list ul li
{
	margin:0;
	padding:0;
	list-style:none
}
.pricing-table .list ul li
{
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height:20px;
	padding:10px 0
}
.pricing-table .list ul li:nth-child(even)
{
	background-color:#fff
}
.pricing-table .footer
{
	padding:21px 0;
	text-align:center;
	background-color:#ddd
}
.pricing-table .footer .btn
{
	text-transform:uppercase;
	font-weight:bold
}
.sharrre
{
	float:left
}
.sharrre+.sharrre
{
	margin-left:10px
}
.lt-ie9 .sharrre
{
	margin-left:10px
}
.sharrre .box a:hover
{
	text-decoration:none
}
.sharrre .count
{
	color:#525b67;
	display:block;
	float:right;
	font-size:16px;
	font-weight:bold;
	line-height:30px;
	height:30px;
	position:relative;
	text-align:center;
	padding:0 15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #b2c6cc;
	background:#fbfbfb
}
.sharrre .count:before,.sharrre .count:after
{
	content:'';
	display:block;
	position:absolute;
	left:-14px;
	top:50%;
	width:0;
	height:0
}
.sharrre .count:before
{
	border:solid 7px transparent;
	border-right-color:#b2c6cc;
	margin-top:-7px
}
.sharrre .count:after
{
	border:solid 6px transparent;
	border-right-color:#fbfbfb;
	margin-top:-6px;
	left:-12px
}
.sharrre .share
{
	color:#fff;
	display:block;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	margin-right:8px;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:70px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.sharrre.twitter .share
{
	text-shadow:1px 0 0 #0077be;
	border:1px solid #0075c5;
	background:#26c3eb;
	-webkit-box-shadow:0 1px 4px #ddd,0 1px 0 #5cd3f1 inset;
	-moz-box-shadow:0 1px 4px #ddd,0 1px 0 #5cd3f1 inset;
	box-shadow:0 1px 4px #ddd,0 1px 0 #5cd3f1 inset
}
.sharrre.facebook .share
{
	text-shadow:1px 0 0 #26427e;
	border:1px solid #24417c;
	background:#5582c9;
	-webkit-box-shadow:0 1px 4px #ddd,0 1px 0 #80a1d6 inset;
	-moz-box-shadow:0 1px 4px #ddd,0 1px 0 #80a1d6 inset;
	box-shadow:0 1px 4px #ddd,0 1px 0 #80a1d6 inset
}
.sharrre.googleplus .share
{
	text-shadow:1px 0 0 #222;
	border:1px solid #262626;
	background:#6d6d6d;
	-webkit-box-shadow:0 1px 4px #ddd,0 1px 0 #929292 inset;
	-moz-box-shadow:0 1px 4px #ddd,0 1px 0 #929292 inset;
	box-shadow:0 1px 4px #ddd,0 1px 0 #929292 inset
}
	@media only screen and (max-width:767px)
{
.callout
{
	padding:12px
}
.callout h2
{
	margin:0 40px 0 0
}
.callout .link
{
	width:40px
}
.callout .link:before
{
	display:none
}
.our-clients .client
{
	width:48%
}
.pricing-table.t-1-3,.pricing-table.t-1-4
{
	width:100%;
	display:block;
	float:none
}
.pricing-table.featured .header
{
	margin-top:-10px;
	background-color:#333;
	border:1px solid #222
}
.pricing-table.featured .header:before,.pricing-table.featured .header:after
{
	display:none
}
.pricing-table.featured .body
{
	padding-bottom:0
}
.pricing-table.featured .footer
{
	margin-top:0
}
.pricing-table .header,.pricing-table .body
{
	border-width:1px
}

}
	@media only screen and (max-width:480px)
{
.headline
{
	font-size:16px
}
.our-clients .client
{
	width:100%;
	margin-left:0;
	margin-right:0
}

}
	[class^="icos-"]
{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:32px;
	height:32px;
	background-image:url(../img/icos32.png);
	background-repeat:no-repeat;
	background-position:224px 192px
}
	[class^="icos-"].small
{
	width:16px;
	height:16px;
	background-image:url(../img/icos16.png);
	background-position:112px 96px
}
.icos-500px.small
{
	background-position:0 0
}
.icos-addthis.small
{
	background-position:-16px 0
}
.icos-behance.small
{
	background-position:-32px 0
}
.icos-blogger.small
{
	background-position:-48px 0
}
.icos-delicious.small
{
	background-position:-64px 0
}
.icos-deviantart.small
{
	background-position:-80px 0
}
.icos-digg.small
{
	background-position:-96px 0
}
.icos-dopplr.small
{
	background-position:0 -16px
}
.icos-dribbble.small
{
	background-position:-16px -16px
}
.icos-evernote.small
{
	background-position:-32px -16px
}
.icos-facebook.small
{
	background-position:-48px -16px
}
.icos-flickr.small
{
	background-position:-64px -16px
}
.icos-forrst.small
{
	background-position:-80px -16px
}
.icos-github.small
{
	background-position:-96px -16px
}
.icos-google.small
{
	background-position:0 -32px
}
.icos-grooveshark.small
{
	background-position:-16px -32px
}
.icos-instagram.small
{
	background-position:-32px -32px
}
.icos-lastfm.small
{
	background-position:-48px -32px
}
.icos-linkedin.small
{
	background-position:-64px -32px
}
.icos-mail.small
{
	background-position:-80px -32px
}
.icos-myspace.small
{
	background-position:-96px -32px
}
.icos-path.small
{
	background-position:0 -48px
}
.icos-paypal.small
{
	background-position:-16px -48px
}
.icos-picasa.small
{
	background-position:-32px -48px
}
.icos-posterous.small
{
	background-position:-48px -48px
}
.icos-reddit.small
{
	background-position:-64px -48px
}
.icos-rss.small
{
	background-position:-80px -48px
}
.icos-sharethis.small
{
	background-position:-96px -48px
}
.icos-skype.small
{
	background-position:0 -64px
}
.icos-soundcloud.small
{
	background-position:-16px -64px
}
.icos-spotify.small
{
	background-position:-32px -64px
}
.icos-stumbleupon.small
{
	background-position:-48px -64px
}
.icos-tumblr.small
{
	background-position:-64px -64px
}
.icos-twitter.small
{
	background-position:-80px -64px
}
.icos-viddler.small
{
	background-position:-96px -64px
}
.icos-vimeo.small
{
	background-position:0 -80px
}
.icos-virb.small
{
	background-position:-16px -80px
}
.icos-windows.small
{
	background-position:-32px -80px
}
.icos-wordpress.small
{
	background-position:-48px -80px
}
.icos-youtube.small
{
	background-position:-64px -80px
}
.icos-zerply.small
{
	background-position:-80px -80px
}
.icos-500px
{
	background-position:0 0
}
.icos-addthis
{
	background-position:-32px 0
}
.icos-behance
{
	background-position:-64px 0
}
.icos-blogger
{
	background-position:-96px 0
}
.icos-delicious
{
	background-position:-128px 0
}
.icos-deviantart
{
	background-position:-160px 0
}
.icos-digg
{
	background-position:-192px 0
}
.icos-dopplr
{
	background-position:0 -32px
}
.icos-dribbble
{
	background-position:-32px -32px
}
.icos-evernote
{
	background-position:-64px -32px
}
.icos-facebook
{
	background-position:-96px -32px
}
.icos-flickr
{
	background-position:-128px -32px
}
.icos-forrst
{
	background-position:-160px -32px
}
.icos-github
{
	background-position:-192px -32px
}
.icos-google
{
	background-position:0 -64px
}
.icos-grooveshark
{
	background-position:-32px -64px
}
.icos-instagram
{
	background-position:-64px -64px
}
.icos-lastfm
{
	background-position:-96px -64px
}
.icos-linkedin
{
	background-position:-128px -64px
}
.icos-mail
{
	background-position:-160px -64px
}
.icos-myspace
{
	background-position:-192px -64px
}
.icos-path
{
	background-position:0 -96px
}
.icos-paypal
{
	background-position:-32px -96px
}
.icos-picasa
{
	background-position:-64px -96px
}
.icos-posterous
{
	background-position:-96px -96px
}
.icos-reddit
{
	background-position:-128px -96px
}
.icos-rss
{
	background-position:-160px -96px
}
.icos-sharethis
{
	background-position:-192px -96px
}
.icos-skype
{
	background-position:0 -128px
}
.icos-soundcloud
{
	background-position:-32px -128px
}
.icos-spotify
{
	background-position:-64px -128px
}
.icos-stumbleupon
{
	background-position:-96px -128px
}
.icos-tumblr
{
	background-position:-128px -128px
}
.icos-twitter
{
	background-position:-160px -128px
}
.icos-viddler
{
	background-position:-192px -128px
}
.icos-vimeo
{
	background-position:0 -160px
}
.icos-virb
{
	background-position:-32px -160px
}
.icos-windows
{
	background-position:-64px -160px
}
.icos-wordpress
{
	background-position:-96px -160px
}
.icos-youtube
{
	background-position:-128px -160px
}
.icos-zerply
{
	background-position:-160px -160px
}
.icons-list,.icons-list li
{
	margin:0;
	padding:0;
	list-style:none
}
.icons-list li
{
	float:left;
	margin:0 6px 6px 0
}
.icons-list.boxed li span
{
	display:block;
	font-size:24px;
	padding:8px;
	background-color:#fcfcfc;
	border:1px solid #ddd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.icons-list.boxed li span [class*="icon-"]
{
	width:24px;
	height:24px
}
.alert
{
	font-size:13px
}
.pager li>a
{
	color:#444
}
.pager li>a:hover
{
	color:#555
}
.search-query
{
	background-repeat:no-repeat;
	background-position:right center;
	background-image:url("data:image/svg+xml;
	base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjE2cHgiPjxwYXRoIGZpbGw9IiNjY2NjY2MiIGQ9Ik0xNC45MDUsMTMuMDkxbC0zLjc1Mi0zLjc1M2MwLjYxLTAuOTQ2LDAuOTcxLTIuMDY5LDAuOTcxLTMuMjc3QzEyLjEyNCwyLjcxOCw5LjQwMywwLDYuMDYyLDAgQzIuNzE4LDAsMCwyLjcxOCwwLDYuMDYxYzAsMy4zNDMsMi43MTgsNi4wNjIsNi4wNjIsNi4wNjJjMS4yMDcsMCwyLjMzLTAuMzU4LDMuMjc3LTAuOTY5bDMuNzUxLDMuNzUyIGMwLjEyNiwwLjEyNiwwLjMzMiwwLjEyNiwwLjQ1NSwwbDEuMzYxLTEuMzYxQzE1LjAzMSwxMy40MiwxNS4wMzEsMTMuMjE2LDE0LjkwNSwxMy4wOTF6IE0xLjkyNCw2LjA2MSBjMC0yLjI3OSwxLjg1Ni00LjEzNiw0LjEzNy00LjEzNmMyLjI4MiwwLDQuMTM3LDEuODU2LDQuMTM3LDQuMTM2YzAsMi4yODItMS44NTUsNC4xMzctNC4xMzcsNC4xMzcgQzMuNzgsMTAuMTk4LDEuOTI0LDguMzQyLDEuOTI0LDYuMDYxeiIvPjwvc3ZnPg==")
}
.isotope-item
{
	z-index:2
}
.isotope-hidden.isotope-item
{
	pointer-events:none;
	z-index:1
}
.isotope,.isotope .isotope-item
{
	-webkit-transition-duration:.8s;
	-moz-transition-duration:.8s;
	-ms-transition-duration:.8s;
	-o-transition-duration:.8s;
	transition-duration:.8s
}
.isotope
{
	-webkit-transition-property:height,width;
	-moz-transition-property:height,width;
	-ms-transition-property:height,width;
	-o-transition-property:height,width;
	transition-property:height,width
}
.isotope .isotope-item
{
	-webkit-transition-property:-webkit-transform,opacity;
	-moz-transition-property:-moz-transform,opacity;
	-ms-transition-property:-ms-transform,opacity;
	-o-transition-property:-o-transform,opacity;
	transition-property:transform,opacity
}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition
{
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-ms-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s
}
.fullwidthbanner-container
{
	width:100%!important;
	position:relative;
	padding:0;
	max-height:550px!important;
	overflow:hidden
}
.fullwidthbanner-container ul,.fullwidthbanner-container ul li
{
	margin:0;
	padding:0;
	list-style:none
}
	#joiee-customizer
{
	position:fixed;
	display:none;
	top:200px;
	left:0;
	background-color:#fff;
	width:72px;
	padding:4px;
	z-index:99999;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.2);
	border-left:0;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-webkit-border-radius:0 6px 6px 0;
	-moz-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0
}
	#joiee-customizer.active
{
	display:block
}
	#joiee-customizer .color-list,#joiee-customizer .color-list li
{
	margin:0;
	padding:0;
	list-style:none
}
	#joiee-customizer .color-list
{
	margin-bottom:5px
}
	#joiee-customizer .color-list li
{
	float:left;
	margin:2px
}
	#joiee-customizer .color-list li span
{
	display:block;
	cursor:pointer;
	width:32px;
	height:32px
}
	@media only screen and (max-width:959px)
{
	#main-nav ul li
{
	padding:26px 12px
}

}
	@media only screen and (max-width:767px)
{
	#main-nav
{
	clear:left;
	text-align:center;
	float:none;
	margin-bottom:23px;
	width:100%
}
.js #main-nav-list
{
	display:none
}
.js .selectnav
{
	width:100%;
	display:block
}

}
	@media only screen and (max-width:768px)
{
	#joiee-customizer,#joiee-customizer.active
{
	display:none
}

}

