
/* http://nicolasgallagher.com/micro-clearfix-hack/   STARTS   */

	.cf:before,.cf:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.cf:after {
	    clear: both;
	}



.noMarginBottom, .noMarginBottom .button, .noMarginBottom label.inline{
	margin-bottom: 0 !important;
}

.noMarginLeft {
	margin-left: 0 !important;
}
.noMarginRight {
	margin-right: 0 !important;
}
.noPaddingLeft {
	padding-left: 0;
}
.noPaddingRight {
	padding-right: 0;
}
.noPadding {
	padding: 0 !important;
}


/* ----------------- */


span.addr {
	display: block;
}

div#header {
	background: url(../img/shatteredBrownDark.jpg);
}

body {
	background: url(../img/h-pattern.jpg);
}

#sidebar ul li a{
	background-color: #4444;
}
.table th {
	font-size: 14px;
}
.table td {
	font-size: 16px;
	/*text-align: center;*/
	vertical-align: middle;
}
td.alignleft {
	text-align: left;
}

.btn-container {
	margin: 0 auto;
}

.hiddenButton {
	width: 100%;
	top: -92px;
	color: black;
	right: 5px;
	height: 0;
	position: relative;
	opacity: 0;
	z-index: 999;
}
.box {
	border: 1px solid #CCCCCC;
	background-color: white;
}
.box:hover .hiddenButton {
	opacity: 1;
}
.boxCaption {
	padding: 6px 8px 4px;
}
.boxCaption h3, .boxCaption h4 {
	font-weight: normal;
}
.boxCaption h3, .boxCapton h4 {
	//font-size: 16px;
	margin:0;
}
.hiddenButton:hover{
	opacity: 1;
}
.hiddenButton div{
	width: 100%;
}
.box a{
	text-align: center;
}
.box img {
	margin: 0 auto;
	width: 100%;
}
.caption {
	font-size: 14px;
	margin-top: 4px;
	line-height: 1.1em;
}

div.imageBlock {
	width: 100%;
}




.abc-btncontainer {
	padding: 4px;
	position: absolute;
}


a.btn-edit {
	border-radius: 2px;
	border: 1px solid grey;
	width: 28px;
	height: 28px;
	background: url(../img/btn-edit.png) 3px 3px;
	background-repeat: no-repeat;
	border-radius: 100%;
	display: inline-block;
}
a.btn-delete {
	border-radius: 2px;
	border: 1px solid grey;
	width: 28px;
	height: 28px;
	background: url(../img/btn-delete.png) 3px 3px;
	background-repeat: no-repeat;
	border-radius: 100%;
	display: inline-block;
}
a.btn-edit:hover {
	background: url(../img/btn-edit.jpg) 3px 3px;
}
a.btn-delete:hover {
	background: url(../img/btn-delete.jpg) 3px 3px;
}

form.editmenu input {
	float: right;
	height: 27px;
	border-radius: 0;
	width: 100%;
}