/* http://nicolasgallagher.com/micro-clearfix-hack/   STARTS   */

	.cf:before,.cf:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.cf:after {
	    clear: both;
	}

/* http://nicolasgallagher.com/micro-clearfix-hack/   ENDS   */

/*   FONT FAMILY start   */

@font-face {
	font-family: Moire;
	src: url('../fonts/Moire-Regular.ttf');
}

@font-face {
	font-family: RawengulkSans;
	src: url('../fonts/RawengulkSans-094.ttf');
}

@font-face {
	font-family: Bebas;
	src: url('../fonts/BebasNeue.otf');
}

@font-face {
	font-family: myriad;
	src: url('../fonts/myriadNeue-Black.otf');
}

@font-face {
	font-family: Myriad;
	src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*   FONT FAMILY end   */


body {
	background: url(../img/shatteredBrownDark.jpg);
	font-family: Myriad;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Myriad;
}
.buttonn {
	background-color: black;
	color: white;
	padding: 4px;
	font-size: 16px;
	border: 1px solid white;
}

.avatarBox {
	width: 150px;
	height: 150px;
}
.avatarBox:hover .avatarEdit {
	opacity: 0.8;
}
.avatarEdit {
	top: auto;
	bottom: 40px;
	left: 10px;
	width: 130px;
	background-color: grey;
	border-radius: 2px;
	border: 1px solid black;
	color: black;
	height: auto;
	position: relative;
	opacity: 0;

}
.avatarEdit:hover{
	opacity: 1;

}
.avatarEdit div{
	width: 100%;
}
.avatarBox a{
	text-align: center;
}

p.close {
	margin-bottom: 4px;
}

input, textarea, table, tbody {
	width: 100%;
}

table input[type="text"] {margin-bottom: 0; !important}


.noMarginBottom, .noMarginBottom .button, .noMarginBottom label.inline{
	margin-bottom: 0 !important;
}

.noMarginLeft {
	margin-left: 0 !important;
}
.noMarginRight {
	margin-right: 0 !important;
}
.noPaddingLeft {
	padding-left: 0;
}
.noPaddingRight {
	padding-right: 0;
}
.noPadding {
	padding: 0 !important;
}



a.btn-edit {
	border-radius: 2px;
	border: 1px solid grey;
	width: 22px;
	height: 22px;
	background: url(../img/btn-edit.jpg);
}
a.btn-delete {
	border-radius: 2px;
	border: 1px solid grey;
	width: 22px;
	height: 22px;
	background: url(../img/btn-delete.jpg);
}

.dropyeah{
	padding: 5px;
}

.hiddenButton {
	top: -92px;
	color: black;
	right: 5px;
	height: 0;
	position: relative;
	opacity: 0;
}
.boxz {
	border: 1px solid #CCCCCC;
	background-color: white;
}
.boxz:hover .hiddenButton {
	opacity: 1;
}
.boxCaption {
	padding: 6px 8px 4px;
}
.boxCaption h3, .boxCaption h4 {
	font-weight: normal;
}
.boxCaption h3, .boxCapton h4 {
	font-size: 16px;
	margin:0;
}
.hiddenButton:hover{
	opacity: 1;
}
.hiddenButton div{
	width: 100%;
}
.box a{
	text-align: center;
}

.caption {
	font-size: 14px;
	margin-top: 4px;
	line-height: 1.1 em;
}

.progressPointContainer{
	background-color: white; 
	color: #13A7C7;
	padding: 0;
}

li.progressPoint {
	cursor: pointer;
	text-align: center;
	//padding: 11px auto;
	padding: 0;
	border-left: 1px solid #13A7C7;
	border-bottom: 1px solid #13A7C7;
	//margin: 5px 0;
}
li.progressPoint a {
	display: block;
	padding-top: 8px;
	padding-bottom: 5px;
	width: 100%;
	height: 100%;
}
li.progressPoint:hover {
	background-color: black;
}
li.progressPoint:hover a{
	color: white;
}
li.progressPoint:first-child {
	border-left: none;
}

div.topmargin {
    height: 285px;
}
div.topmarginsmall {
    height: 100px;
}

li.progressPoint.active {
	background-color: yellow;
}
li.progressPoint a{
	color: grey;
}
li.progressPoint.active a{
	color: black;
	font-weight: bold;
}

img.menu-table-thumb {
	width: 100%;
	height: auto;
}








